    <div class="container">
    <style>h4{margin-left:0pt;margin-bottom:0pt;text-decoration:none;}</style>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h2 class="h2">{{ site.title }}</h2>
          <h4 class="h4">Peter Flach,<br>University of Bristol</h4>
          <ul class="contact-list">
            <li><a href="{{ site.website }}">Book website</a></li>
            <li><a href="mailto:{{ site.email }}">Email author</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <h2 class="h2">{{ site.subtitle }}</h2>
          <p>{{ site.description }}</p>
          <p><a class="btn btn-default" href="{{ site.baseurl }}/about.html#About" data-target="#About" role="button">Read more &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Simply Logical 2015&ndash;{{ site.time | date: '%Y' }}</p>
      </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="{{ site.baseurl }}/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

  {% include google_analytics.html %}
