<!DOCTYPE html>
<html>

  <head>
    {% include headB.html %}
    <meta name=Title content="{{ page.part }}">
    <meta name=Keywords content="">
    <title>{{ page.part }}</title>
  </head>

  <body data-spy="scroll" data-target=".navbar">

    {% include headerB.html %}

    <div class="jumbotron">
    <div id="{{ page.title }}" class="container" style="margin-top: -130px;">
      
      {% if page.title %}
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>
      {% endif %}

      <!-- <article class="post-content"> -->
        {{ content }}
      <!-- </article> -->
    </div>
    </div>

    {% include footerB.html %}

  </body>

</html>
