<!DOCTYPE html>
<html>

  <head>
    {% include headB.html %}
    <link href="{{ site.baseurl }}/bootstrap/css/reveal.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/bootstrap/css/theme/solarized.css" rel="stylesheet">
    {% if page.title %}
      <meta name=Title content="{{ page.title }}">
    {% endif %}
    {% if page.keywords  %}
      <meta name=Keywords content="{{ page.keywords }}">
    {% endif %}
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% endif %}
  </head>

  <body data-spy="scroll" data-target=".navbar">

    {% include headerB.html %}

    <div class="reveal" style="margin-top: -50px; padding-top: 50px;">
      <div style="position: absolute; bottom: 1em; width: 100%; font-size: 0.4em; text-align: center;">
        University of Bristol | {{ site.author }}
      </div>
      <div class="slides">
        {{ content }}
      </div>
    </div>

    <script>
      $(function() { $(".swish").LPN({swish:"http://swish.swi-prolog.org/"}); });
    </script>

    <script src="{{ site.baseurl }}/bootstrap/lib/js/head.min.js"></script>
    <script src="{{ site.baseurl }}/bootstrap/js/reveal.js"></script>
    <script>
      Reveal.initialize({
        history: true,
        math: {
          // mathjax: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js',
          config: 'TeX-AMS_HTML-full'
        },

        dependencies: [
        { src: '{{ site.baseurl }}/bootstrap/plugin/math/math.js', async: true },

        // Interpret Markdown in <section> elements
        { src: '{{ site.baseurl }}/bootstrap/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: '{{ site.baseurl }}/bootstrap/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } }
        ]
      });
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ site.baseurl }}/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
