/*Highlight the hyper-link marker when hovering over the "title" of figures.*/
main#main-content figure figcaption:hover a.headerlink {
  opacity: 0.5;
  visibility: visible;
}

/*Justify the book text*/
main#main-content p {
  text-align: justify;
  text-justify: auto;
}

/*Better scale text in tables placed in admonitions*/
main#main-content div.admonition table {
  width: revert;
}

div.highlight-pProlog div.highlight pre {
  /* background-color: rgba(var(--pst-color-preformatted-background),1); */
  /* background-color: #FEF9EC; */
  /* background-color: #FFF0F5; */
  background-color: #F0FFFF;
}
